<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Brad Web</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
	</head>
	<body>
		<div class = "header" style="background-color: rgba(0, 0, 0, 0.7)">
		<h1 class="text-light">Brad Big Company</h1>
		
		</div>
		
		<form action='Brad15'>
			<input name='x' value='@x@' />
			+
			<input name='y' value='@y@' />
			<input type='submit' value='=' />
			<span>@result@</span>
		</form>
		<hr />
		
	<!-- Footer -->
	<div class='footer d-flex justify-content-center align-items-center' style='background-color: rgba(0, 0, 0, 0.7);'>
		<div class = 'spinner-grow spinner-grow-sm text-light ms-4' role='status'></div>
		<div class = 'spinner-grow spinner-grow-sm text-light ms-4' role='status'></div>
		<div class = 'spinner-grow spinner-grow-sm text-light ms-4 me-4' role='status'></div>
		
		<h4 class='text-light' style = 'margin:0px 5px 0px 5px;'>Copyleft 2024...</h4>
		
		<div class = "spinner-grow spinner-grow-sm text-light ms-4" role="status"></div>
		<div class = "spinner-grow spinner-grow-sm text-light ms-4" role="status"></div>
		<div class = "spinner-grow spinner-grow-sm text-light ms-4" role="status"></div>
		
	</div>
		Copyleft 2024....
	</body>
</html>